In [1]:
# tuple_of_tuples
tup1=(1, 2, 3, 5, 7)
tup2=(5, 3, 8)
tuple_of_tuples = (tup1, tup2)
print(tuple_of_tuples)

# Tuple unpacking
tup1=(1, 2, 3, 5, 7)
tup2=(7, 8, *tup1,4)
print(tup2)

((1, 2, 3, 5, 7), (5, 3, 8))
(7, 8, 1, 2, 3, 5, 7, 4)

In [6]:
# Grouping Tuples Taking one each from each tuple
names = ('Ram', 'Raja', 'Geetha', 'Ramya')
gender = ('male', 'male', 'female', 'female')

ite = zip(names, gender) #zip returns an iterator of tuples
print(*ite)

('Ram', 'male') ('Raja', 'male') ('Geetha', 'female') ('Ramya', 'female')

In [15]:
# Matrix problems using zip( )
mat = [[1,2,3], [4,5,6]]
zip(mat[0], mat[1])
for ite in zip(mat[0], mat[1]):
  lst = list(ite)
  print(lst)

# Same as above
for ite in zip(*mat):
 print(ite) #prints each tuple

[1, 4]
[2, 5]
[3, 6]
(1, 4)
(2, 5)
(3, 6)

In [24]:
# Set representation 
set1 = {10, 20, 300, 400, 50}
set2 = {'rat', 'cat', 'bat', 'lion', 'tiger', 'crocodile'}
print(set1)
print(set2)

# Set elements have to be unique i.e. cannot be repeated
set3 = {10, 20, 300, 400, 50, 50, 50, 20, 100, 400}
print(set3)

# set4 = set() # empty_set
# print(set4)

# my_set = set([1, 2, 3, 3, 4, 5])
# print(my_set)

{400, 50, 20, 10, 300}
{'bat', 'tiger', 'crocodile', 'rat', 'lion', 'cat'}
{400, 50, 100, 20, 10, 300}

In [31]:
# Sets are Mutable
set1 = {10, 2, 3}
set1.add(4)
print(set1)  

set1.remove(2)
print(set1)

set2=sorted(set1)
print(set2)

set3=sum(set1)
print(set3)

l=len(set1)
print(l)

a=min(set1)
print(a)

b=max(set1)
print(b)

{2, 10, 3, 4}
{10, 3, 4}
[3, 4, 10]
17
3
3
10

In [35]:
# Set methods - Member functions in the set
set1 = {10, 2, 41, 23, 3, 13}
set1.add(4)
print(set1)  

# remove - the element
set1.remove(41)
print(set1) 

#discard
set1.discard(23)
set1.discard(23) # No error even if 4 is not in the set but remove will show error
print(set1)

# clear - clears all the elements
set1.clear()
print(set1)

{2, 3, 4, 23, 41, 10, 13}
{2, 3, 4, 23, 10, 13}
{2, 3, 4, 10, 13}
set()

In [43]:
# Set methods - Member functions in the list
S= {2, 3, 4, 23, 41, 10, 13}
T= {12, 13, 40, 73, 11}
# update - adds elements of one list to the other we can do mutable
S.update(T)
print(S)
print(S.update(T))

P= {4, 23, 41, 10}
P.issuperset(S)
S.issuperset(P)

{2, 3, 4, 40, 41, 10, 73, 11, 13, 12, 23}
None

False

In [44]:
S= {2, 3, 4, 23, 41, 10, 13}
P= {4, 23, 41, 10}
P.issubset(S)
P.isdisjoint(S)

False

In [46]:
S= {2, 3, 4, 23, 41, 10, 13}
P= {4, 23, 41, 10}
P.isdisjoint(T)

True

In [47]:
S= {2, 3, 4, 23, 41, 10, 13}
T= {12, 13, 40, 73, 11}
P.isdisjoint(T)

True

In [53]:
# Set unpacking
S= {2, 3, 4, 23, 41, 10, 13}
P= {4, 23, 41, *S, 10}
print(P, type(P))

# Set of Sets is not allowed, in general, can be done using frozenset
# Q= {S,P} # Error
Q= (S,P)
print(Q)

{2, 3, 4, 41, 10, 13, 23} <class 'set'>
({2, 3, 4, 23, 41, 10, 13}, {2, 3, 4, 41, 10, 13, 23})

In [61]:
# Set Comprehension
set1 = {x**2 for x in range(1, 10)}
print(set1)
print(sorted(set1))

# Using a for loop
set1.clear() # To make empty set
for x in range(1, 10):
    set1.add(x**2)
print(set1)

{64, 1, 4, 36, 9, 16, 49, 81, 25}
[1, 4, 9, 16, 25, 36, 49, 64, 81]
{64, 1, 4, 36, 9, 16, 49, 81, 25}