In [4]:
# Tuple representation
tuple = (1, 2, 3, 'abc', 3.14)
# Accessing elements
print(tuple[0])   
print(tuple[3])   

# Tuple unpacking
a, b, c, d, e = tuple
print(a, b, c, d, e)  

tup1 = (10, ) # Note that you need a comm
print(tup1)

1
abc
1 2 3 abc 3.14
(10,)

In [8]:
# Elements in the tuple can be repeated.
# Define a tuple of different datatypes and print them using iterator.
tup = (11, 32, 3, 897, 3.14)
for i in range(4):
    print(tup[i])

tup1=sorted(tup)
print(tup1)

11
32
3
897
[3, 3.14, 11, 32, 897]

In [10]:
# Tuple operations
tup = (11, 32, 3, 897, 3.14)
try:
    tup[1] = 42
except TypeError as e:
    print(f"TypeError: {e}")

modified_tuple = tup + (42,)  # Concatenate with a new element
print(modified_tuple)

TypeError: 'tuple' object does not support item assignment
(11, 32, 3, 897, 3.14, 42)

In [17]:
# Containment
tuple = (10, 12, 23, 'abc', 3.14)
print(23 in tuple)  
print('xyz' in tuple)  

# Conversion from string to tuple
#str1 = "hello"
#tup1 = tuple(str1)
#print(tup)  

# Length of tuple
#lenth = len(tup1)
# print(lenth)  

# Maximum and minimum values in a tuple
tup2 = (4, 7, 1, 9, 3)
max_val = max(tup2)
min_val = min(tup2)
print(max_val, min_val)  

# Sum of elements in a tuple
sum_of_elements = sum(tup2)
print(sum_of_elements)

True
False
9 1
24

In [15]:
# Comparing tuples
tuple1 = (1,2,3)
tuple2 = (1,2,3)
tuple3 = (1,2,4)

print(tuple1 == tuple2)  
print(tuple1 == tuple3)  
print(tuple1 < tuple3)

True
False
True

In [1]:
# Tuples in Python are immutable, which means you cannot append or modify elements once the tuple is created.
# append will not work in tuple
# Using list comprehension and converting to tuple
lst=[x for x in range(5)]
tup = tuple(lst)
tup

(0, 1, 2, 3, 4)

In [3]:
# Tuple Varieties
# Tuple of Tuples
tup1=(1, 2, 3, 5, 7)
tup2=(7, 8, *tup1,4)
print(tup2)

(7, 8, 1, 2, 3, 5, 7, 4)

In [1]:
# Grouping Tuples
names = ('Ram', 'Raja', 'Geetha', 'Ramya')
gender = ('male', 'male', 'female', 'female')
group= list(zip(names, gender))
print(group)


fruits = ('apples', 'oranges', 'grapes', 'guava')
num_kg = (2, 5, 3, 6)
cost_kg = (150, 80, 200, 170)
group1= list(zip(fruits, num_kg, cost_kg))
print(*group1)

[('Ram', 'male'), ('Raja', 'male'), ('Geetha', 'female'), ('Ramya', 'female')]
('apples', 2, 150) ('oranges', 5, 80) ('grapes', 3, 200) ('guava', 6, 170)

In [16]:
names = ('Ram', 'Raja', 'Geetha', 'Ramya')
gender = ('male', 'male', 'female', 'female')
#Sevaral ways in which zip( ) can be used
ite = zip(names, gender) 
print(ite) #zip returns an iterator of tuples
print(*ite) #Remember that ite is like a pointer and hence * is needed to unpack

for i in zip(names, gender):
    print(*i)

<zip object at 0x000002C1460C1640>
('Ram', 'male') ('Raja', 'male') ('Geetha', 'female') ('Ramya', 'female')
Ram male
Raja male
Geetha female
Ramya female