## Q.1. Explore the use and syntax of common built-in functions:

range(),

iter(),

eval(),

enumerate(),

zip(),

lambda,

input(),

map(),

filter(),

next()

reduce()

Include a short description and a practical code example for each, ensuring clarity through comments.

**(i)** range()

Syntax:

range(stop)

range(start, stop[, step])

In [ ]:
# Range with start and stop:
for r in range(4, 9):
    print(r)

# Range with positive step:
for r in range(2, 8, 2):
    print([r])

4
5
6
7
8
[2]
[4]
[6]

**(ii)**  iter()

Syntax:

iter(object, sentinel [optional])

In [3]:
# The iter() function returns an iterator for the given argument(an iterable object).
phones = ['apple', 'samsung', 'oneplus']
phone_itr = iter(phones)
print(next(phone_itr))
print(next(phone_itr))
print(next(phone_itr))

apple
samsung
oneplus

**(iii)**  eval()

Syntex: eval(expression)

In [ ]:
# The eval() function dynamically evaluates Python expressions from a string-based or compiled-code-based input.
a = "2+3*4"
result = eval(a)
print(result)

14

**(iv)** enumerate()

Syntax: enumerate(iterable, start=0)

In [ ]:
# The enumerate() method adds a counter to an iterable and returns an enumerating object.
# Index value from which the counter starts (default is 0).

l1 = ['eat', 'sleep', 'repeat']
for count, ele in enumerate(l1):
    print(ele, count)

eat 0
sleep 1
repeat 2

**(v)** zip()

Syntax: zip(iterable1, iterable2, ...)

In [7]:
# The zip() function combines multiple iterables (e.g., lists, tuples) element-wise into tuples.

names = ['Alice', 'Bob', 'Charlie','X']
age = [25, 32, 28, 20]
zipped_data = zip(names, age)
# print(list(zipped_data))
for name, age in zipped_data:
    print(f"{name}: {age}")

Alice: 25
Bob: 32
Charlie: 28
X: 20

**(vi)**  lambda ()

Syntax: lambda arguments: expression

In [ ]:
# Lambda functions are small, anonymous functions defined using the lambda keyword.

add= lambda x, y: x + y
print(add(5, 10))

15

**(vii)**  input()

Syntax: input(statement)

In [1]:
# The input() function reads a line of text from the user via the console.

name = input("Enter your name: ")
print(name)

Enter your name:  Lokendra

Lokendra

**(vii)**  map()

Syntax: filter(function, iterable)

In [ ]:
# The map() function applies a given function to each item in an iterable and returns an iterator.

def square_num(x):
    return x ** 2

# implementing function usnig map
num = [1, 2, 3, 4]
num1 = map(square_num, num)
num2 = list(map(square_num, num))
print(num1)
print(num2)

<map object at 0x7e72220a21a0>
[1, 4, 9, 16]

**(viii)**  filter()

Syntax: filter(function, iterable)

In [8]:
# The filter() function filters elements from an iterable based on a given condition.
# define function
def is_even(x):
    return x %2== 0

# implementing function usnig filter
nums = [1, 2, 3, 4, 5]
even_nums1= filter(is_even, nums)
even_nums2= list(filter(is_even, nums))
print(even_nums1)
print(even_nums2)

<filter object at 0x000002936D313A90>
[2, 4]

**(ix)**  next()

In [ ]:
# The next() function retrieves the next item from an iterator.

lst = iter(['Ram', 12, 23])
print(next(lst))
print(next(lst))
print(next(lst))

Ram
12
23

**(x)**  reduce()

In [ ]:
# The reduce() function (from the functools module) applies a binary function to the items of an iterable cumulatively.
from functools import reduce

def multiply(x, y):
    return x*y

lst = [11, 7, 4, 1]
lst1 = reduce(multiply, lst)
print(lst1)

308

## Q.2. Write a Python function that sorts a dictionary based on the length of values.

Sample:

Input: {'lemon':'yellow','apple':'red'} output: {'apple':'red','lemon':'yellow'}

In [ ]:
def sort_dict(dct):
    itm= dct.items()
    sorted_values = sorted(itm, key=lambda x: len(x[1]))
    sorted_dict = dict(sorted_values)
    return sorted_dict

# Example usage:
Input = {'lemon': 'yellow', 'apple': 'red'}
# print(Input.items()) # dict_items([('lemon', 'yellow'), ('apple', 'red')])
outpt = sort_dict(Input)
print(outpt)

{'apple': 'red', 'lemon': 'yellow'}

## 3. Develop a Python program that executes the following tasks with a user-provided string:

Your program should showcase proficiency in dictionary operations, sorting mechanisms, and handling of ties in frequency counts. Comment your code to outline the process and decisions made.

sample:

input = 'GOOGLE'

Here, the most repeated characters are G:2, O:2. But, L,E are occurring only a single time which is tied for the third position here, so here we take E as it comes first in the lexicographical order.

a. Prompt the user to input a string.

In [ ]:
str1= input("Enter a string:")

Enter a string:GOOGLE


b. Create a dictionary from the string where each key is a unique alphabet character and the corresponding value is the frequency of that character's occurrence in the string.

In [ ]:
def dict_create(str):
    # Initialize an empty dictionary
    dict1 = {}

    # Iterate through each character in the input string
    for i in str:
        # If the character is not already in the dictionary, add it with a count of 1
        if i not in dict1:
            dict1[i] = 1
        else:
            # If the character is already in the dictionary, increment its count
            dict1[i] += 1

    return dict1
dct2= dict_create(str1)
print(dct2)

{'G': 2, 'O': 2, 'L': 1, 'E': 1}

c. Generate a sorted list of tuples from the dictionary based on character frequency (values).

In [ ]:
a= sorted(dct2.items(), key=lambda x: x[1])
print(a)

[('L', 1), ('E', 1), ('G', 2), ('O', 2)]

d. Generate a sorted list of tuples from the dictionary based on the alphabet characters (keys).

In [ ]:
b= sorted(dct2.items(), key=lambda x: x[0])
print(b)

[('E', 1), ('G', 2), ('L', 1), ('O', 2)]

e. Identify the three most frequently occurring characters. In the event of a frequency tie, prioritize characters in lexicographical order.

In [ ]:
lst2= sorted(dct2.items(), key=lambda x: x[1])
lst3= [lst2[i] for i in range(3)]
print(lst3)

[('L', 1), ('E', 1), ('G', 2)]

## Q.4. Write a function called lookup_student that takes a dictionary representing student records, where names are keys and roll numbers are values. The function should search for a specified student name and return the corresponding roll number if found; otherwise, it should return "Not Found"

Example:

records = { "Alice" : "AB111", "Bob" : "EE200", "David" : "XY333"}

print(lookup_student(records, "Bob")) : Should print "EE200"

print(lookup_student(records, "John")) : Should print "Not Found"

In [2]:
def lookup_student(dct, name):
    for k in dct.keys():
        if k == name:
            return dct[k]
    return "Not found"

records = { "Alice" : "AB111", "Bob" : "EE200", "David" : "XY333"}
print(lookup_student(records, "Bob"))
print(lookup_student(records, "John"))

EE200
Not found

## Q.5. Given a list of integers, write a Python program to:


a) Find the frequency of each integer in the list and store the result in a dictionary.

In [ ]:
Lst = [10, 12, 10, 15, 9, 7, 9, 5, 9]
L_dct = {}

for i in Lst:
    if i not in L_dct:
        L_dct[i] = 1
    else:
        L_dct[i] += 1

print(L_dct)

{10: 2, 12: 1, 15: 1, 9: 3, 7: 1, 5: 1}

b) Print the maximum integer and its frequency.

In [ ]:
m= max(Lst)
print('maximum integer=', m, 'and its frequency=', L_dct[m])

maximum integer= 15 and its frequency= 1

c) Remove duplicates from the list and print the new list without changing the order of elements. Do this operation without using the set data type.

In [ ]:
Lst2=[]
for i in L_dct.keys():
  Lst2.append(i)

print(Lst2)

[10, 12, 15, 9, 7, 5]

d) Remove duplicates from the list and print the new list. Do this operation using the set data type.

In [ ]:
set1= set(Lst2)
print(set1)

{5, 7, 9, 10, 12, 15}