In [131]:
#1. Write a program to print numbers divisible by both 7 and 8. Numbers between 1 and 1000.
# Using continue statement
for i in range(1,1001):
    list=[]
    if i %7 !=0 or i %8!=0:
        continue
    list.append(i)
    print(list)
# Using the pass statement
for i in range(1,1001):
    if i %7==0 and i %8==0:
        print(i)
    else:
        pass

[56]
[112]
[168]
[224]
[280]
[336]
[392]
[448]
[504]
[560]
[616]
[672]
[728]
[784]
[840]
[896]
[952]
56
112
168
224
280
336
392
448
504
560
616
672
728
784
840
896
952

In [1]:
#2.  Number 34567222541147 has been given. Print the addition of all even digits and the addition of all odd digits.
num=34567222541147
x=str(num)
# print(x[1])
even =0
odd=0
for digit in x:
    i=int(digit)
    if i%2==0:
        even=even+i
    else:
        odd=odd+i

print(f"even sum = {even}, odd sum= {odd}")

even sum = 24, odd sum= 29

In [2]:
#3. Describe conditional expression. Write a program to print the maximum and minimum numbers from a list using conditional expression. Use the max () and min () functions to verify your output.
lst= [10, 20, 300, 400, 50, 100, 52, 63, 450, 96, 47]
max_num=lst[0]
for i in lst:
    if i>max_num:
        max_num=i
print(f"maximum number using loop = {max_num}")
a=max(lst)
print(f"maximum number using max() function = {a}")

min_num=lst[0]
for i in lst:
    if i<min_num:
        min_num=i
print(f"minimum number using loop = {min_num}")
b=min(lst)
print(f"minimum number using min() function = {b}")

maximum number using loop = 450
maximum number using max() function = 450
minimum number using loop = 10
minimum number using min() function = 10

In [3]:
#4. Pascalâ€™s  Triangle : Print the following pattern for the given N number of rows.
def pascals_triangle(N):
    triangle= []
    for i in range(N):
        row= [1]*(i+1)
        for j in range(1, i):
            row[j]= triangle[i-1][j-1] + triangle[i-1][j]
        triangle.append(row)
    return triangle


def print_triangle(triangle):
    for row in triangle:
        print(" ".join(map(str, row)).center(len(triangle[-1])* 3))

n_rows = int(input("Enter the number of rows for Pascal's Triangle: "))
P_tri = pascals_triangle(n_rows)
print_triangle(P_tri)

Enter the number of rows for Pascal's Triangle:  10

              1
             1 1
            1 2 1
           1 3 3 1
          1 4 6 4 1
        1 5 10 10 5 1
       1 6 15 20 15 6 1
     1 7 21 35 35 21 7 1
    1 8 28 56 70 56 28 8 1
 1 9 36 84 126 126 84 36 9 1

In [4]:
#5. Take a number as input, determine if it is a palindrome, considering only numeric characters. Eg: 2442
def is_num_palindrome(num):
    a= str(num)
    b= a[::-1]
    if a==b :
       print("Given number is palindrome")
    else :
       print("given number is not palindrome")
        
n= 2442
m= 151616
is_num_palindrome(n)
is_num_palindrome(m)

# Now, take a string as an input and check whether it is Palindrome or not.  eg: "Was it a car or a cat I saw?"
def is_str_palindrome(str):
    c= str
    d= c[::-1]
    if c==d :
       print("Given string is palindrome")
    else :
       print("given string is not palindrome")
        
str1= "Was it a car or a cat I saw?"
str2= "was it pop ti saw"
is_str_palindrome(str1)
is_str_palindrome(str2)

Given number is palindrome
given number is not palindrome
given string is not palindrome
Given string is palindrome

In [5]:
# Describe chr () and ord () functions. Write a small program to show its functionality.Using these functions,write a program to print:
N=4
for i in range(0,N):
    x=(i+1)*chr(65+i)
    print(x)

A
BB
CCC
DDDD

In [6]:
# 7. 
list_of_names= ['Mark Antony', 'Mohan Raj']
# (a) to print the first names.
dict=[]
for name in list_of_names:
    name= name.split()
    first_name = name[0]
    dict.append(first_name)
print(dict)

# (b) to print the last names.
dict1=[]
for name in list_of_names:
    name= name.split()
    last_name = name[1]
    dict1.append(last_name)
print(dict1)
    
# (c) to print each name as 'last_name first_name.
dict2=[]
for name in list_of_names:
    name = ' '.join(name.split()[::-1])
    dict2.append(name)
print(dict2)

# (d) to print the names in the sorted order with respect to last name
print(list_of_names)

['Mark', 'Mohan']
['Antony', 'Raj']
['Antony Mark', 'Raj Mohan']
['Mark Antony', 'Mohan Raj']

In [7]:
# 8. WAP to find the minimum of 3 numbers using
# a) with conditional expressions. (No loops should be used)
a=3
b=5
c=10
if a<b and b< c:
    print('Mininum number is =',a)
if b<a and a<c:
    print('Mininum number is =',b)
if c<a and a<c:
    print('Mininum number is =',c)
    

# b) with nested conditional expression. (No loops should be used)
a=30
b=50
c=100
min_num=a if a<b and a<c else (
        b if b<a and b<c else 
        c)
print('Minimum number is =', min_num)

    
# c) similar to problem (b), find the minimum of 4 numbers
a = 30
b = 51
c = 14
d = 16

min_num=a if a<b and a<c and a<d else (
        b if b<a and b<c and b<d else (
        c if c<a and c<b and c<d else (
        d)
    )
)
print('Minimum number is =', min_num)

Mininum number is = 3
Minimum number is = 30
Minimum number is = 14

In [8]:
# Create a list of departments in IIT Madras (Minimum 5 ) and perform the following operations:
iitm_d=['Mathematics', 'Physics', 'Chemistry', 'Electrical', 'Biotechnology']

# append
iitm_d.append('Civil')
print('List after using append:', iitm_d)

# remove
iitm_d.remove('Biotechnology')
print('List after using remove:', iitm_d)

# pop
iitm_d.pop(2)
print('List after using pop:', iitm_d)

# insert 
iitm_d.insert(0, 'Biotechnology')  
print('List after using insert:', iitm_d)

# reverse
iitm_d.reverse()
print('List after using reverse:', iitm_d)

# sort
iitm_d.sort()
print('List after using sort:', iitm_d)

# count
c = iitm_d.count('Biotechnology')
print('List after using count:', c)

# index
a=iitm_d.index('Mathematics')
print('List after using index:', a)

# extend
iitm_d.extend('Maths')
print('List after using extend:', iitm_d)

# slice
# Create a slice of the list from index 1 to 3 (exclusive)
sliced_list=iitm_d[1:3]
print('List after using slice', sliced_list)

# clear
iitm_d.clear()
print('List after using clear', iitm_d)

List after using append: ['Mathematics', 'Physics', 'Chemistry', 'Electrical', 'Biotechnology', 'Civil']
List after using remove: ['Mathematics', 'Physics', 'Chemistry', 'Electrical', 'Civil']
List after using pop: ['Mathematics', 'Physics', 'Electrical', 'Civil']
List after using insert: ['Biotechnology', 'Mathematics', 'Physics', 'Electrical', 'Civil']
List after using reverse: ['Civil', 'Electrical', 'Physics', 'Mathematics', 'Biotechnology']
List after using sort: ['Biotechnology', 'Civil', 'Electrical', 'Mathematics', 'Physics']
List after using count: 1
List after using index: 3
List after using extend: ['Biotechnology', 'Civil', 'Electrical', 'Mathematics', 'Physics', 'M', 'a', 't', 'h', 's']
List after using slice ['Civil', 'Electrical']
List after using clear []

In [9]:
# 10. Differentiate deep copy and shallow copy.

import copy

# original list
old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("old_list before modification:", old_list)
# shallow copy
new_list = copy.copy(old_list)
# deep copy
another_list = copy.deepcopy(old_list)

# modify the first element of the first nested list
new_list[0][0] = 0
another_list[0][0] = -1

# print the lists
print("old_list:", old_list)
print("new_list:", new_list)
print("another_list:", another_list)

old_list before modification: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
old_list: [[0, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list: [[0, 2, 3], [4, 5, 6], [7, 8, 9]]
another_list: [[-1, 2, 3], [4, 5, 6], [7, 8, 9]]